.fa.fa-question-circle.fa-2x {   
    color: red;   
}
.fa .fa-plus{
    color:#c4fff1;
	
}
.w2ui-toolbar table.w2ui-button .w2ui-tb-caption {
    color: #FFF;
    padding: 0 4px 0 2px;
}
.w2ui-toolbar table.w2ui-button .w2ui-tb-image > span {
    font-size: 15px;
    margin-top: 3px;
    display: block;
    color: #fff;
}
.fa.fa-user.fa-2x,.fa.fa-map-marker.fa-2x,.fa.fa-tachometer.fa-2x ,.fa.fa-home.fa-2x{
    display: inline-flex;
    vertical-align: middle;
    color:#f3b3ac;
}
.badge{
   background-color:#F28286;
}
tab.active {
    color: #000;
    background-color: #7eafc6;
    border: 1px solid silver;
    border-bottom: 1px solid transparent;
}